body{
  background: white;
  color: black;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Droid Serif', serif;
  color: #F9D9D1;
  font-weight: bolder;
  font-size: 30px;
}
h2 {
  font-family: 'Droid Serif', serif;
  color: #C65B7C;
  font-weight: lighter;
  font-size: 25px;
}
a {
  color: #83B692;
}
a:hover {
  text-decoration: none;
  color: #F9627D;
}

#banner{
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/26/22/32/abstract-2790359_1280.png");
  background-size: 800px 600px;
  padding: 150px;
  color: white;
  text-shadow: 3px 3px 7px #C65B7C;
}
#banner h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}
#banner p {
  color: #C65B7C;
  opacity: 0.9;
  font-size: 30px;
}
#banner a {
  color: #C65B7C;
  font-size: 20px;
  text-shadow: 2px 2px 5px black
  font-weight: bolder;
}
#footer{
  background-color: black; 
  padding: 20px;
  color: white;
}
#footer a{
  color: #C65B7C;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
.card{
  text-align:center;
  padding: 50px;
  font-weight: lighter;
}