body{
  background: #EEF4D4;
  color: #1C2826;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Droid Serif', serif;
  color: #EEF4D4;
  font-weight: bolder;
  font-size: 70px;
}
h2 {
  font-family: 'Droid Serif', serif;
  color: #DAEFB3;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: #83B692;
}
a:hover {
  text-decoration: none;
  color: #F9627D;
}

#banner{
  text-align: center;
  background-image: url("http://hpics.li/0a831db");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 2px 2px 6px #DAEFB3;
}
#banner h1 {
  color: #1C2826;
  font-size: 70px;
  font-weight: bolder;
}
#banner p {
  color: #1C2826;
  opacity: 0.9;
  font-size: 30px;
}
#banner a {
  color: #C65B7C;
  font-size: 20px;
  text-shadow: 2px 2px 5px #DAEFB3
  font-weight: bolder;
}
#footer{
  background-color: #EA9E8D; 
  padding: 20px; 
  color: #1C2826;
}
#footer a{
  color: #D64550;
  font-size: 15px;
}
#footer a:hover {
  color: #1C2826;
}
#card{
  text-align:center;
  padding: 30px;
  font-weight: lighter;